<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--VCloud Settings-->
    <add key="Testing.vCloud.Url" value="https://vcloud.onelondon.tfl.local/" />
    <add key="Testing.vCloud.Org" value="ce_organisation_td" />
    <add key="Testing.vCloud.TestRigDomain" value="FAELAB" />
    <add key="Testing.vCloud.TestRigUsername" value="tfsbuild" />
    <add key="Testing.vCloud.TestRigPwd" value="LMTF$Bu1ld" />
    <add key="Testing.vCloud.OrgUsername" value="zSVCCEVcloudBuild" />
    <add key="Testing.vCloud.OrgPassword" value="P0wer5hell" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="LabManager SOAP interfaceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                  <security mode="Transport">
                      <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                      <message clientCredentialType="UserName" algorithmSuite="Default"/>
                  </security>
              </binding>

          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="https://tdc2vlm001.onelondon.tfl.local/LabManager/SOAP/LabManager.asmx" binding="basicHttpBinding" bindingConfiguration="LabManager SOAP interfaceSoap" contract="LabManagerService.LabManagerSOAPinterfaceSoap" name="LabManager SOAP interfaceSoap"/>
          <endpoint address="https://tdc2vlm001.onelondon.tfl.local/LabManager/SOAP/LabManagerInternal.asmx" binding="basicHttpBinding" bindingConfiguration="LabManager SOAP interfaceSoap" contract="LabManagerInternalService.LabManagerSOAPinterfaceSoap" name="LabManager SOAP interfaceSoap1"/>
      </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
