CREATE DATABASE [Django_Build_Stats]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Django_Build_Stats', FILENAME = N'H:\Data\Django_Build_Stats.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Django_Build_Stats_log', FILENAME = N'H:\Data\Django_Build_Stats_log.ldf' , SIZE = 22528KB , FILEGROWTH = 10%)
GO
USE [Django_Build_Stats]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Django_Build_Stats] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

USE [Django_Build_Stats]
GO

CREATE TABLE BuildStats(
	Id INT IDENTITY NOT NULL PRIMARY KEY,
	UserName VARCHAR(256),
	Hostname VARCHAR(256),
	Activity VARCHAR(256),
	ItemPath VARCHAR(400),
	Duration float,
)

ALTER TABLE BuildStats ADD CONSTRAINT Activity CHECK (Activity IN ('Build', 'Test'));

