<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Environments" type="PerformanceMonitoring.BaselineDal.Environments, PerformanceMonitoring.BaselineDal"/>    
  </configSections>
  <connectionStrings>
    <add connectionString="Server=FTDC2SQLM001;Database=DBADW;Trusted_Connection=True;" name="ReportDatabase" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <Environments>
    <MonitoredEnvironment EnvironmentName="PreProd">
      <Database DatabaseName="FAE" ConnectionString="" />
      <Database DatabaseName="Pare" ConnectionString="" />
    </MonitoredEnvironment>
    <MonitoredEnvironment EnvironmentName="Devint">
      <Database DatabaseName="FAE" ConnectionString="" />
      <Database DatabaseName="Pare" ConnectionString="" />
      <Database DatabaseName="Other" ConnectionString="" />
    </MonitoredEnvironment>
  </Environments>
</configuration>