<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key = "Testing.RigName" value="thisisatest" />
    <add key = "Testing.RigConfigLocation" value ="C:\tfs\Common\Branches\DeploymentChanges\Code\Deploy\Scripts"/>
    <add key = "Testing.RigConfigFile" value ="baseline.config1.xml$baseline.config2.xml"/>
    <add key="Testing.ServiceAccountsPassword" value="Olymp1c$2012" />
    <add key="Testing.Groups" value="FAE,PARE$CACC" />
    <add key="Testing.Servers" value="TS-DB1,TS-CAS1$TS-CIS1" />-->
  </appSettings>
</configuration>
